{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tvshow</h1>

    <table>
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ tvShow.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ tvShow.description }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ tvShow.year }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ tvShow.image }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ tvShow.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('media_tvshow_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('media_tvshow_edit', { 'id': tvShow.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
