{% extends '@Back/back_base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1 class="h1">Movies</h1>
            {{ include('@Back/media/searcher.html.twig') }}
            <a href="{{ path('media_movie_new') }}" class="btn btn-primary mb-4">ADD A MOVIE</a>
            {% if movies is not empty %}
                <table class="table">
                    <thead class="table-dark">
                    <tr>
                        <th>Title</th>
                        <th>Actors</th>
                        <th>Director(s)</th>
                        <th>Description</th>
                        <th>Length</th>
                        <th>Year</th>
                        <th>Thumbnail</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for movie in movies %}
                        <tr>
                            <td>{{ movie.title }}</td>
                            <td>{% for actor in movie.actors %}{{ actor }}{% if not loop.last %}
                                    <br>{% endif %}{% endfor %}
                            </td>
                            <td>{% for director in movie.directors %}{{ director }}{% if not loop.last %}
                                    <br>{% endif %}{% endfor %}</td>
                            <td>{{ movie.description }}</td>
                            <td>{{ movie.length }}mn</td>
                            <td>{{ movie.year }}</td>
                            <td>{% if movie.image is not null %}<img src="{{ vich_uploader_asset(movie.image, 'imageFile') }}" class="img-fluid col-5"/>{% endif %}
                            </td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('media_movie_edit', { 'id': movie.id }) }}">Show / Edit</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('media_movie_delete', { 'id': movie.id }) }}">Delete</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(movies) }}

            {% else %}
                <div class="row mt-1">
                    <div class="col-12 alert alert-danger">No movie found</div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
