{% extends '@Back/back_base.html.twig' %}

{% block body %}
    <h1 class="h1">Add movie</h1>
    {{ form_start(form) }}
    {% for child in form.children %}
        {% if child.vars.name != "_token" %}
            <div class="form-group">
                {{ form_label(child) }}
                {{ form_widget(child) }}
            </div>
        {% endif %}
    {% endfor %}
    {{ form_widget(form._token) }}
    <div class="form-row text-center">
        <div class="col-12">
            <input type="submit" value="Create" class="btn btn-primary btn-lg"/>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
