{% extends '@Back/back_base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="row">
        <div class="col-12">
            <h1 class="h1">Tvshows list</h1>
            <a href="{{ path('media_tvshow_new') }}" class="btn btn-primary mb-4">ADD A TV SHOW</a>
            {{ include('@Back/media/searcher.html.twig') }}

            {% if tvShows is not empty %}
                <table class="table">
                    <thead class="table-dark">
                    <tr>
                        <th>Title</th>
                        <th>Actors</th>
                        <th>Director(s)</th>
                        <th>Description</th>
                        <th>Year</th>
                        <th>Thumbnail</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tvShow in tvShows %}
                        <tr>
                            <td>{{ tvShow.title }}</td>
                            <td>{% for actor in tvShow.actors %}{{ actor }}{% if not loop.last %}
                                    <br>{% endif %}{% endfor %}
                            </td>
                            <td>{% for director in tvShow.directors %}{{ director }}{% if not loop.last %}
                                    <br>{% endif %}{% endfor %}</td>
                            <td>{{ tvShow.description }}</td>
                            <td>{{ tvShow.year }}</td>
                            <td>{% if tvShow.image is not null %}<img
                                    src="{{ vich_uploader_asset(tvShow.image, 'imageFile') }}"
                                    class="img-fluid"/>{% endif %}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('media_tvshow_edit', { 'id': tvShow.id }) }}">Show / edit</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('media_tvshow_delete', { 'id': tvShow.id }) }}">Delete</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(tvShows) }}
            {% else %}
                <div class="row mt-1">
                    <div class="col-12 alert alert-danger">No tv show found</div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
