{% extends '@Back/back_base.html.twig' %}

{% block body %}
    <h1>Episodes</h1>

    <table>
        <thead>
            <th>Episode</th>
            <th>Titre</th>
            <th>Durée</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for episode in episodes %}
                <td>Episode {{ episode.episode }} - Saison {{ episode.season }}</td>
                <td>{{ episode.title }}</td>
                <td>{{ episode.length }}</td>
                <td></td>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('media_tvshow_index') }}">Back to the list</a>
        </li>

    </ul>
{% endblock %}
