<h1>Filter</h1>
{{ form_start(formSearcher) }}
<div class="row">
    <div class="col-3">{{ form_row(formSearcher.title) }}</div>
    <div class="col-3">{{ form_row(formSearcher.actors) }}</div>
    <div class="col-3">{{ form_row(formSearcher.directors) }}</div>
    <div class="col-3">{{ form_row(formSearcher.search) }}</div>
</div>
{{ form_end(formSearcher) }}